body {
  font-family: 'EB Garamond', serif;
  color: #94949C;
  background-color: #dce6ef;
}
h1 {
  font-size: 2em;
  font-family: "georgia";
  color: #424e6a;
  text-align: center;
  padding-top: 1.5em;
}
h2 {
  color: #424e6a;
  font-size: 200%;
}
nav, footer {
  background-color: #EBEAEB; /*-- header and footer color--*/
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}
nav a {
  padding: .5em;
}
nav a:link, nav a:visited {
  color: #424e6a;
  text-decoration: none;
}
nav a.active {
  color: #424e6a;
}
main {
  padding: 0 2em 2em 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  grid-template-areas:
    "one two three"
    "img blog1 blog1"
    "img blog2 blog2"
    "img blog3 blog3"
}
