body {
  font-family: 'EB Garamond', serif;
  color: #94949C;
  background-color: #dce6ef;
}
h1 {
  font-size: 2em;
  font-family: "georgia";
  color: #424e6a;
  text-align: center;
  padding-top: 1.5em;
}
h2 {
  color: #424e6a;
  font-size: 150%;
}
a {
  text-decoration: none;
  color: #94949C;
  font-size: 125%;
}
a:hover{
  text-decoration: underline;
}
#first h2, #second h2, #third h2 {
  text-align: center;
  font-size: 1.2em;
  padding-bottom: .25em;
  border-bottom: 1px solid #f7f7fb;
}
p {
  font-size: 115%;
  margin-bottom: .67em;
  font-family: 'EB Garmond', serif;
  text-align: center;
}
nav, footer {
  background-color: #EBEAEB; /*-- header and footer color--*/
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 2;
}
nav a {
  padding: .5em;
}
nav a:link, nav a:visited {
  color: #424e6a;
  text-decoration: none;
}
nav a:hover, nav a:visited {
  text-decoration: underline;
}
nav a.active {
  color: #424e6a;
}
.hero-title {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 300%;
  color: #f7f7fb;
}
main {
  padding: 0 2em 2em 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  grid-template-areas:
    "one two three"
    "img blog1 blog1"
    "img blog2 blog2"
    "img blog3 blog3";
}
#first {
  grid-area: one;
}
#second {
  grid-area: two;
}
#third {
  grid-area: three;
}
.wall {
  grid-area: img;
}
.article-one {
  grid-area: blog1;
}
.article-two {
  grid-area: blog2;
}
.article-three {
  grid-area: blog3;
}
img {
  max-width: 100%;
  height: auto;
}
